@import 'variables'

.book-card
  background-color: color-paper
  padding: 10px
  border-left: 8px solid #3f7eae
  display: grid
  grid-template-columns: 1fr 3fr
  ul 
    padding: 0
    list-style-type: none
    display: flex
    flex-wrap: wrap
    li 
      padding: 5px
      margin: 5px

h2 
  margin-bottom: 0

.dates
  font-size: 0.8rem

.author
  font-size: 1.3rem
  margin-top: 0