@import 'variables'

.book-card
  background-color: color-paper
  padding: 10px
  border-left: 8px solid #3f7eae
  display: grid
  grid-template-columns: 1fr 2fr
  ul 
    padding: 0
    list-style-type none
