/* https://coolors.co/344966-ef476f-ffd166-06d6a0-ffb4d4-00abd5-6b6d76-fffcf9 */
color-paper = #FFFCF5
color-indigo = #344966ff
color-paradise = #ef476fff
color-yellow = #ffd166ff
color-green = #06d6a0ff
color-pink = #ffb4d4ff
color-cerulean = #00abd5ff
color-gray = #6b6d76ff
color-white = #fffcf9ff
base-font-size = 16px